[submodule "Test/lib/googletest"]
	path = Test/lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glew-cmake"]
	path = lib/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
